<!DOCTYPE html>
<html>
    <head>
        <title>Titles</title>
    </head>
    <body>
        <table border="1">
            <thead>
                <tr>
                    {% for key in articles.0.keys %}
                        <th>{{ key }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for row in articles %}
                <tr>
                    {% for value in row.values %}
                        <td>{{ value }}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>        
        
    </body>
</html>