<!-- welcome.html -->

{% for message in messages %}
    <p class="{% if 'success' in message.tags %}success{% elif 'error' in message.tags %}error{% else %}default{% endif %}">
        {{ message }}
    </p>
{% endfor %}

<h1>Welcome, {{ user.first_name }} {{ user.last_name }}</h1>

<!-- Check if the user is a superuser -->
{% if not user.is_superuser %}
    <a href="{% url 'make_superuser' user.id %}">
        <button>Create Superuser</button>
    </a>
{% endif %}

<a href="{% url 'logout_user' %}">
    <button>Logout</button>
</a>